.Title {
  font-size: 5vh;
  margin: 0;
}
.PathCode {
  background: #022;
  padding: 0.5vh 1vh;
  border-radius: 0.5vh;
  cursor: default;
  color: #0effaf;
  margin: 1vh;
}
.PathCode::selection {
  background: #0effaf55 !important;
}
.WelcomeMessage {
  font-size: 2.5vh;
  font-weight: 700;
  margin: 1vh;
}
