.Title {
  font-size: 5vh;
  margin: 0;
  text-align: center;
}
.Carousel {
  width: 30vh;
  height: 10vh;
  border: 0.2vh solid #fa0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  position: relative;
}
.Carousel div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
  line-height: 1.5vh;
  font-weight: 700;
}
.Left,
.Rigth {
  position: absolute;
  width: 5vh;
  height: 5vh;
  transition: 0.8s ease-in-out;
  cursor: pointer;
}
.Left:active {
  transition: 0.2s;
  width: 5.5vh;
  height: 5.5vh;
}
.Rigth:active {
  transition: 0.2s;
  width: 5.5vh;
  height: 5.5vh;
}
.Left {
  margin-right: 15vh;
}
.Rigth {
  margin-left: 15vh;
}
.Mid {
  width: 8vh;
  height: 8vh;
  transition: 0.8s ease-in-out;
  cursor: pointer;
}
.Mid:active {
  transition: 0s;
  width: 7.7vh;
  height: 7.7vh;
}
