.Container {
  flex-direction: column;
  margin: 1vh;
  gap: 1vh;
}
.Icon {
  margin: 1vh;
}
.Container h1 {
  font-size: 5vh;
  line-height: 5vh;
  text-align: center;
  color: var(--c20);
  font-weight: 800;
}
.Container h2 {
  font-size: 2vh;
  line-height: 2vh;
  text-align: center;
  color: var(--c20);
  font-weight: 800;
  color: var(--c08);
}
