html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html::-webkit-scrollbar {
  display: none;
  opacity: 0;
}
/* *:not(body) {
  transition: background 0.5s ease;
} */
* {
  color: var(--c16);
}
svg {
  width: 100%;
  height: 100%;
}
body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  transition: background 0.5s ease;
}
a {
  text-decoration: none;
  color: #fb1;
  font-weight: 700;
  text-align: center;
}
a:hover {
  color: #fa0;
}
