.Container {
  flex-direction: column;
  position: fixed;
  bottom: 0;
  padding: 1vh;
}
.MensajesContainer {
  flex-direction: column;
  gap: 1vh;
  height: 58vh;
  justify-content: space-between;
}
.Title {
  position: relative;
  top: 0;
  font-size: 1.8vh;
  line-height: 1.8vh;
  font-weight: 800;
  color: var(--c08);
}
.Mensajes {
  flex-direction: column;
  gap: 1vh;
}
.List {
  width: 35vh;
  border-radius: 3vh;
  background: var(--c01);
  padding: 2vh 0;
}
.Bubble {
  gap: 1vh;
}
.Sender {
  padding: 1vh 2vh;
  background: #0e9fff;
  border-radius: 1vh;
  color: #fff;
  font-weight: 700;
  font-size: 1.8vh;
  line-height: 1.8vh;
  transition: 0.1s;
}
.SocketID {
  font-size: 1.5vh;
  font-weight: 700;
}
.SocketMessage {
  font-size: 1.7vh;
  line-height: 1.7vh;
  background: var(--c00);
  padding: 1vh 2vh;
  border-radius: 1vh;
  font-weight: 800;
  color: #0086df;
}
.Sender:hover {
  background: #0086df;
}
.Sender:active {
  opacity: 1;
}

.PathCode {
  padding: 0.2vh 2vh;
  border-radius: 2vh;
  gap: 1vh;
  margin: 1vh;
  text-align: center;
  cursor: pointer;
  background: #001d1d;
  transition: 0.3s;
}
.PathCode:hover {
  background: #022;
}
.PathCode label {
  color: #0effaf;
  font-size: 1.6vh;
  line-height: 1.6vh;
  font-weight: 700;
  pointer-events: none;
}
.Conection path {
  fill: #0effaf;
}
.GitHub path {
  fill: #0e9fff;
}
.PopUp {
  padding: 2vh 0 !important;
  flex-direction: column;
  width: 27vh;
  border-radius: 3vh;
  gap: 1vh;
}
.PopUp a {
  gap: 1vh;
  width: 85%;
  outline: 0.2vh solid #0e9fff;
  border-radius: 1vh;
  font-size: 1.7vh;
  line-height: 1.7vh;
  transition: 0.3s;
}
.PopUp label {
  color: #fafafadd;
  font-weight: 700;
  font-size: 1.5vh;
  line-height: 1.5vh;
}
.PopUp a * {
  font-weight: 800;
  color: #0e9fff;
}
.PopUp a:hover {
  text-decoration: none;
  color: #0e9fff;
  background: #0e9fff11;
}
