.Child {
  height: 5vh;
  width: 5vh;
  background: #faf;
  color: var(--c20);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
  line-height: 1.5vh;
  padding: 0 2vh;
  transition: 1s;
}
