html {
  margin: 0;
  padding: 0;
}
*:not(body) {
  transition: all 0.5s ease;
}
body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  transition: background 0.5s ease;
}
a {
  text-decoration: none;
  color: #fa0;
  font-weight: 700;
}
/* Store - useStore*/
.Help {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HelpContainer {
  width: 95vw;
  height: 82%;
  background: #fafafa;
  border-radius: 1vh;
  box-shadow: 0 0 1vh #0005;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  pointer-events: visible;
  opacity: 0;
  animation: helpStore 0.5s forwards;
}
@keyframes helpStore {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Store {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  align-self: flex-end;
}
.StoreHeaderContainer {
  position: absolute;
  pointer-events: visible;
  width: 15vh;
  margin-top: -13vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  /* place-content: center; */
  /* place-items: center; */
  align-items: flex-end;
}
.StoreContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 1vh 1vh 0 0;
  background: #ffffff;
  box-shadow: 0 0 1vh #dadadaaa;
  width: auto;
  pointer-events: visible;
  box-sizing: border-box;
  animation: itemsStore 0.5s forwards;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 1vh;
}
/* StoreButtonContainer ------------------------------------ */
/* ------------------------------------ StoreButtonContainer */
/* StoreButtonContainer ------------------------------------ */

/* .StoreButton:hover {
  transform: scale(0.9);
} */
.StoreButton {
  width: 15vh;
  height: 4vh;
  border: none;
  border-radius: 1vh 1vh 0 0;
  color: #000000;
  box-shadow: 0 0 1vh #0005;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  flex-direction: column;
  z-index: 1;
  background: #600b72;
  cursor: pointer;
}

.YapeStep {
  /* background: linear-gradient(45deg, #a105d4, #600b72); */
  background: #fafafa;
  transition: 0.2s;
  cursor: pointer;
}
.YapeStep * {
  cursor: pointer;
}
.AdjuntarStep {
  background: linear-gradient(45deg, #0588d4, #8102aa);
}
.EnviarStep {
  background: linear-gradient(45deg, #16ff77, #8102aa);
}
/* StoreButtomLabel TOP --------------------------------------------- */
/* --------------------- StoreButtomLabel TOP ----------------------- */
/* StoreButtomLabel TOP --------------------------------------------- */

.StoreButtonStateLabelTop {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
/* ------------------------ Step 0 */
.StoreButtonCheckProductsCounter {
  position: absolute;
  font-weight: 700;
  font-size: 1.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border-radius: 0.3vh;
  height: 2.5vh;
  cursor: pointer;
  transition: 0.3s;
  background: #00dbc0;
  color: #8102aa;
  padding: 0 1vh;
  bottom: 3vh;
}
/* ------------------------ Step 1 */
.StoreButtonCheckContainer {
  padding: 0.3vh 0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #fafafa;
  box-shadow: 0 0 1vh #0005;
  border-radius: 1vh;
  cursor: pointer;
}
.YapeInfoTitle {
  font-size: 1.5vh;
  font-weight: 700;
  background: #000;
  color: #fafafa;
  padding: 0.1vh 0.8vh;
  border-radius: 0.5vh 0.5vh 0 0;
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: -7.3vh;
  height: 2vh;
  z-index: -3;
}
.StoreButtonCheck {
  height: 1.5vh;
  filter: grayscale(100);
  opacity: 0.3;
  margin: 0 0.1vh;
}
/* StoreButtomLabel MID --------------------------------------------- */
/* --------------------- StoreButtomLabel MID ----------------------- */
/* StoreButtomLabel MID --------------------------------------------- */
.StoreButtonStateLabelMid {
  font-size: 1.3vh;
  font-weight: 700;
}
.StoreCompobanteInput {
  display: none;
}
/* --- */
.StoreStep {
  flex: 1;
  display: none;
  overflow: hidden;
}
.StoreList {
  display: flex;
  gap: 0 0.2vh;
  background: #fa0;
  border-radius: 1vh;
}
.StoreListReduced {
  border-top: 0.6vh solid #000;
  border-left: 0.6vh solid #000;
  border-right: 0.6vh solid #000;
  background: #000 !important;
}
.ProductList {
  display: flex;
  flex: 1;
  position: relative;
  min-width: 6vh;
  max-width: 15vh;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vh 0.5vh 0 0;
  box-shadow: 0 0 1vh #0002;
  animation: itemStore 0.2s ease-in 0.5s forwards;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.ProductList img {
  width: 7vh;
}
@keyframes itemsStore {
  0% {
    display: none !important;
    top: 8vh;
  }
  100% {
    display: flex;
    top: 0vh;
  }
}
/* SWITCH DE CANTIDADES */
/* -------------------------  SWITCH DE CANTIDADES ---------------*/
/* SWITCH DE CANTIDADES */
.ControlCantidad {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
}
.ControlCantidad div {
  flex: 1;
  cursor: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png'),
    auto;
}

.ItemCantidadContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}
.ItemCantidad {
  /* filter: invert(1); */
  mix-blend-mode: screen;
  box-shadow: 0 0 1vh #0005;
  padding: 0.2vh 0.5vh;
  font-size: 1.5vh;
  color: #fafafa;
  font-weight: 700;
  text-shadow: 0 0 1vh #0005;
  background: #000;
  border-radius: 0.3vh 0.3vh 0 0;
}
/* Steps */

.YapeInfoContainer {
  width: 100%;
  animation: YapeInfoContainer 0.5s ease-in forwards;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

@keyframes YapeInfoContainer {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}
.YapeInfoNumero {
  font-size: 2.2vh;
  font-weight: 700;
  margin: 0;
  line-height: 1.5vh;
}
.YapeInfoNombre {
  font-weight: 700;
  font-size: 1.7vh;
  margin: 0;
  line-height: 1.7vh;
}
.YapeInfoAdd,
.YapeInfoVoucher {
  padding: 0 1vh;
  position: absolute;
  border: none;
  font-size: 1.4vh;
  background: transparent;
  cursor: pointer;
  transition: 0s;
}
.YapeInfoAdd:hover {
  opacity: 0.8;
}

.YapeInfoAdd {
  margin-right: 25vh;
}
.YapeInfoVoucher {
  margin-left: 25vh;
}
.YapeInfoComprobanteImg {
  height: 2vh;
}
/*  ---------------------------------------------------------      ///////
/*  ---------------------------------------------------------    //////////
/*  ---------------------------------------------------------  ////   /////
/*  ---------------------------------------------------------          /////
/*  ---------------------------------------------------------         /////
/*  ---------------------------------------------------------        /////
/*  ---------------------------------------------------------       /////
/*  ---------------------------------------------------------     ////////////
/*  ---------------------------------------------------------    /////////////*/
.SecondStepStore {
  width: 100%;
  animation: YapeInfoContainer 0.5s ease-in forwards;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}
.SecondStepStoreTitle {
  font-size: 1.7vh;
  font-weight: 700;
  pointer-events: none;
}
.SecondStepStoreMessage {
  font-size: 1.5vh;
  margin-top: 0.5vh;
  pointer-events: none;
  font-weight: 700;
}
.SecondStepStoreSubmit {
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}
.SecondStepStoreSubmit img {
  width: 2vh;
  margin-top: 1vh;
  cursor: pointer;
  transform: rotate(-90deg);
  transition: 0.2s;
}
.SecondStepStoreSubmit img:hover {
  transform: rotate(-90deg) scale(1.1);
  filter: drop-shadow(0 0 0.4vh #ff7777);
}
.SecondStepStoreSubmit img:active {
  transform: rotate(-90deg) scale(1);
  filter: drop-shadow(0 0 0.4vh #ff7777);
}
.SecondStepStoreFormContainer {
  display: flex;
  overflow: scroll;
  height: 4.7vh;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.SecondStepStoreForm {
  display: flex;
  flex-direction: column;
  border: 0.5vh solid #fff;
  width: 100%;
}
.SecondStepStoreForm > div {
  display: flex;
  position: relative;
}
.SecondStepStoreForm > div div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.2vh;
}
.SecondStepStoreForm > div div label {
  position: absolute;
  pointer-events: none;
  font-size: 1.8vh;
  font-weight: 700;
}
.SecondStepStoreForm > div div input {
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.8vh;
  font-weight: 700;
}
.SecondStepStoreForm > div div input:focus + label {
  background: #000;
  bottom: 1vh;
  padding: 0.2vh 1vh;
  border-radius: 0.5vh;
  font-size: 1vh;
  color: #fafafa;
}
@media only screen and (min-width: 600px) {
  .SecondStepStoreForm {
    flex-direction: row;
  }
  .SecondStepStoreFormContainer {
    width: 100%;
    overflow: hidden;
  }
}
/* Code Store */
.SecondStepStoreCode {
  display: flex;
  justify-content: center;
  align-items: center;
}
.SecondStepStoreCode label::selection {
  background: transparent;
}
.SecondStepStoreCode label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  font-weight: 700;
}
.SecondStepStoreCode b {
  margin: 0 2vh;
  font-size: 2vh;
  text-shadow: 0 0 1v #0003;
  pointer-events: none;
}
.SecondStepStoreCodeValue {
  background: linear-gradient(45deg, #fa0, #f2a);
  font-weight: 900 !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
/* ----------------------------             ADMIN */
/* ----------------------------             ADMIN */
/* ----------------------------             ADMIN */
/* ----------------------------             ADMIN */
/* ----------------------------             ADMIN */
/* ----------------------------                                                ADMIN */
/* ----------------------------                                                ADMIN */
/* ----------------------------                                                ADMIN */
/* ----------------------------                                                ADMIN */
/* ----------------------------             ADMIN */
/* ----------------------------             ADMIN */
/* ----------------------------             ADMIN */
/* ----------------------------             ADMIN */
/* ----------------------------             ADMIN */
/* ----------------------------             ADMIN */
/* ----------------------------             ADMIN */
.StoreVerifyOrdersContainer {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.VerifyOrdersControlContainer {
  flex: 1;
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.StoreCardOrderVerifyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -------Goooter     */

.VerifyOrdersActivityContainer {
  height: 4vh;
  position: absolute;
  display: flex;
  /* background: #000; */
  justify-content: center;
  align-items: center;
  border-radius: 3vh 3vh 0 0;
  overflow: hidden;
}
.VerifyOrdersActivityContainer > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vh;
  background: #0002;
  padding: 0.2vh 2vh;
  height: 100%;
  cursor: pointer;
}
.DeliveryInput {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.StoreCardOrderVerifyContainerTitle {
  color: #fff !important;
}
